html{
    position: relative;
    margin: 0;
}

header,#console, main{
    margin: 0 auto 70px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #000;
}

.console {
    height: 90vh;
    max-width: 100vW;
    max-height: 90vh;
}

#terminal {
	font-family: courier, monospace;
	color: #fff;
	width:750px;
	margin-left:10px;
	margin-right:10px;
	margin-top:10px;
	font-size:14px;
    text-align: left;
}

#cyan {
	color: #00FFFF;
	text-decoration: none;
}

#green {
	color: #0f0;
}

#red {
	color: rgb(255, 0, 0);
}

#pink {
	color: #ff0096;
}

#blink {
    animation: change 1s;
}

#grey{
    color: #888888
}

@keyframes change {
    	0%  { color:  #0f0; }
    	50% { color:  #0f0; }
    	99% { color: black; }
}

#signature>* {
    margin-left: 42%;

    flex: 1 0 auto;

    display: flex;

    flex-direction: row;

    justify-content: center;

    align-items: center;

    /*background-color: black;*/    

    position: fixed;
}

#signature>b {
    text-decoration: none;
}

#signature>b>img {

    height: 30px;

    width: 30px;

    margin: 8px;

    -webkit-user-select: none;

    -moz-user-select: none;

    -ms-user-select: none;

    user-select: none;

}

#signature>b>p {

	font-family: Electrolize;

    font-size: 20px;

    font-weight: lighter;

    color: #FFF;

}

#signature>b:hover {

    opacity: 0.9;

}

.hidden{
    display:none;
    visibility: hidden;
}